@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    letter-spacing: 2px;
  }
}

@layer utilities {
  .h-700 {
    height: 700px;
  }
  .h-850 {
    height: 850px;
  }
  .h-1000 {
    height: 1000px;
  }
}
